.postContainer {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(3, minmax(100px, auto));
  // grid-auto-columns: minmax(200px, 250px);
  grid-auto-rows: minmax(400px, 450px);
  grid-auto-flow: dense;
  gap: 1rem 1rem;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  @media (min-width: 1920px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.postItem {
  // background-color: gray;
  min-width: 250px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
  border-radius: 2rem;
}
// .postItem:nth-child(1) {
//   grid-column: 1 / 2;
//   grid-row: 1 / 2;
// }

// @media (max-width: 767px) {
//   .postItem:first-child {
//     grid-column: 1 / 2;
//   }
// }
